// basics.scss is related to all generic/shared elements across all pages
html {
    box-sizing: border-box;
    height: 100%;
    background: linear-gradient(320deg, var(--bg-blue), var(--bg-teal), var(--bg-green));
    background-attachment: fixed;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: Arial;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    justify-content: center;
}

header {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: linear-gradient(120deg, var(--base-green), var(--base-teal), var(--base-blue));
    border: 4px solid var(--border-green);
    border-bottom-right-radius: 1.5em;
    border-top-left-radius: 1.5em;
    box-shadow: 0 4px 60px var(--bg-blue);
    justify-content: space-between;
    display: flex;
    a {
        text-transform: uppercase;
        flex-direction: row;
        font-family: serif;
        font-weight: bold;
        padding: 6px 20px 6px 20px;
    }
}

hr {
    height: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h1,
h2 {
    font-size: 2em;
    text-transform: capitalize;
    text-align: center;
}

p {
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.4;
    user-select: none;
}

// this element has been created as a support for script commands
section {
    opacity: 1;
    display: block;
    transition: opacity 1s ease-in-out;
}