:root {
  --bg-blue: rgb(100, 135, 210);
  --bg-teal: rgb(120, 230, 230);
  --bg-green: rgb(120, 255, 185);
  --base-blue: rgb(60, 125, 200);
  --base-teal: rgb(60, 165, 165);
  --base-green: rgb(60, 190, 135);
  --base-red: rgb(170, 105, 140);
  --base-red2: rgb(201, 99, 158);
  --border-teal: rgb(80, 220, 220);
  --border-green: rgb(80, 245, 175);
  --border-red: rgb(226, 147, 199);
  --skip-red: rgb(245, 109, 177);
}

html {
  box-sizing: border-box;
  height: 100%;
  background: linear-gradient(320deg, var(--bg-blue), var(--bg-teal), var(--bg-green));
  background-attachment: fixed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: Arial;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  justify-content: center;
}

header {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: linear-gradient(120deg, var(--base-green), var(--base-teal), var(--base-blue));
  border: 4px solid var(--border-green);
  border-bottom-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  box-shadow: 0 4px 60px var(--bg-blue);
  justify-content: space-between;
  display: flex;
}
header a {
  text-transform: uppercase;
  flex-direction: row;
  font-family: serif;
  font-weight: bold;
  padding: 6px 20px 6px 20px;
}

hr {
  height: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
}

h1,
h2 {
  font-size: 2em;
  text-transform: capitalize;
  text-align: center;
}

p {
  text-indent: 30px;
  font-size: 1em;
  line-height: 1.4;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

section {
  opacity: 1;
  display: block;
  transition: opacity 1s ease-in-out;
}

.main_popups {
  max-width: 600px;
  text-align: center;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: linear-gradient(120deg, var(--base-green), var(--base-teal), var(--base-blue));
  border: 4px solid var(--border-green);
  border-bottom-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  box-shadow: 0 4px 60px var(--bg-blue);
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  opacity: 1;
  display: block;
  transition: opacity 1s ease-in-out;
}
.main_popups p {
  text-indent: 0;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main_popups label {
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main_popups input {
  border-color: var(--base-teal);
  background-color: var(--bg-teal);
  display: flex;
  width: 100%;
  box-shadow: 0 4px 60px var(--bg-green);
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  transition-duration: 0.2s;
}
.main_popups input:hover {
  background-color: var(--base-green);
}
.main_popups button {
  border: 4px solid;
  border-color: var(--base-teal);
  background-color: var(--bg-teal);
  width: 200px;
  height: 40px;
  transition-duration: 0.2s;
  margin-bottom: 10px;
}
.main_popups button:hover {
  background-color: var(--base-green);
}
.main_popups button:active {
  background-color: var(--base-blue);
}
.main_popups button.skip {
  border-color: var(--base-red);
  background-color: var(--border-red);
}
.main_popups button.skip:hover {
  background-color: var(--skip-red);
}
.main_popups button.skip:active {
  background-color: var(--base-blue);
}

.list_grid {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(1fr);
  grid-gap: 12px;
}

.list_contents {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: linear-gradient(120deg, var(--base-green), var(--base-teal), var(--base-blue));
  border: 4px solid var(--border-green);
  border-bottom-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  box-shadow: 0 4px 60px var(--bg-blue);
  padding: 6px;
}
.list_contents img {
  width: 200px;
  height: 200px;
  padding: 6px;
  margin: 6px;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: linear-gradient(240deg, var(--base-green), var(--base-teal), var(--base-blue));
  border: 4px solid var(--border-green);
}
.list_contents a {
  max-width: 200px;
}
.list_contents button {
  border: 4px solid;
  border-color: var(--base-teal);
  background-color: var(--bg-teal);
  width: 200px;
  height: 40px;
  transition-duration: 0.2s;
  margin-bottom: 10px;
  padding: 6px;
  margin: 6px;
}
.list_contents button:hover {
  background-color: var(--base-green);
}
.list_contents button:active {
  background-color: var(--base-blue);
}
.list_contents div {
  display: flex;
}

.special {
  display: block;
  background: linear-gradient(120deg, var(--base-red), var(--base-red2));
  border-color: var(--border-red);
}
.special img {
  background: linear-gradient(240deg, var(--base-red), var(--base-red2));
  border-color: var(--border-red);
}
.special button {
  border-color: var(--base-red);
  background-color: var(--border-red);
}
.special button:hover {
  background-color: var(--skip-red);
}
.special button:active {
  background-color: var(--base-blue);
}/*# sourceMappingURL=main.css.map */